body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 300 !important;
}
.Navbar{
	width: 100%;
	height: 50px;
	background-color: #ffff;
	box-shadow: 3px 3px 10px rgba(0,0,0,.1);
	z-index: 1000;
	position: fixed;
	display: flex;
}
.pri-color{
	color: #D23431;
}
.logo{
	width: 50px;
	margin: 10px;
}
.Menu{
	float: right;
	transition: 1s;
	margin: 15px;
}
.Menu > .menu-item{
	text-decoration: none;
}
.Menu > .menu-item >li{
	display: inline;
	padding: 10px;
	font-size: 12px;
	color: black;
}
.menu-item > li:hover{
	color: #D23431;
	border-bottom: 2px solid #D23431;
	padding-bottom: 12px;
}
.current-menu{
	color: red;
	border-bottom: 2px solid #D23431;
	padding-bottom: 12px;
}

.menu-icon{
	color: black
}
.mobile{
	display: none;
}

.hero-box{
	width: 100%;
	height: auto;
	background: #f5f5f5;
	position: relative;
	padding-bottom: 50px;
	background-image: url(../Images/background-line.png);
	/*background-size: cover;*/
	background-repeat: no-repeat;

}
.profile-pic{
	width: 100%;
	height: 500px;
	border-radius: 5px;
	margin-top: 100px;
	background-size: cover;
}
.dots{
	position: absolute;
	left: -25px;
	top: 65px;
}
.curve{
	position: absolute;
	top: 350px;
	left:-50px;
	width: 10px;
}
.lines{
	position: absolute;
	right: -5px;
	top: 155px;
	width: 50px;
}
.category{
	padding-top: 200px;
	padding-right: 100px;
}
.name{
	font-size: 48px;
	letter-spacing: 5px;
}
.btn-work{
	width: 200px;
	height: 50px;
	background-color: #D23431;
	padding: 12px 16px;
	color: #fff;
	font-size: 16px;
	text-align: left;
	letter-spacing: 3px;
}
.bio-section{
	width: 100%;
	height: 800px;
	background: #fff;
}
.redbox{
	width: 441px;
	height: 211px;
	position: absolute;
	background-color: #D23431;
	top: 550px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(250,0,0,.1);

}
.bio{
	top: 200px;
}
.triangle{
	position: absolute;
	right: 10px;
	top: -50px;
}
.bio-name{
	font-size: 108px;
	position: absolute;
	line-height: 40pt;
	letter-spacing: 10px;
	bottom: -450px;
	left: 150px;
	color: #D23431;
	opacity: 0.05;
}
.line-shape{
	transform: rotate(90deg);
	position: absolute;
	top: 1225px;
	right: 300px;
	}
.skills-section{
	width: 100%;
	height: 694px;
	background-color: #fbecec;
}
.skills{
	padding-top: 50px;
	padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
	.Menu{
		background: #D23431;
		position: fixed;
		top: 0;
		width: 250px;
		right: 0px;
		height: 100%;
		padding: 20px;
		transition: 1s;

	}
	.lines{
		right: 0px;
	}
	.show-menu{
		display: block;
	}
	.Menu > .menu-item >li{
		display: block;
		color: white;
		padding-left: 0px;
	}
	.menu-item > li:hover{
		border-bottom: 1px solid #fff;
	}
	.bio-name{
		font-size: 54px;
		left: 50px;
	}
}